packages/n8n-nodes/workflows/marketing/content-generator.json
{
  "name": "Marketing Content Generator (3x/week)",
  "nodes": [
    {
      "parameters": {
        "content": "## Marketing Content Generator (3x/week)\n\nGenerates social media post drafts from live Polymarket data and sends them to Telegram for review.\n\n**Setup:**\n1. Configure the Telegram node with your bot token credential\n2. Set your OpenAI API key in the HTTP Request node (replace the Authorization header placeholder)\n3. Adjust the schedule if you want different days/times (default: Mon/Wed/Fri 9am ET)\n\n**How it works:**\n- Pulls today's top traders from the leaderboard\n- Fetches trending active markets\n- Grabs recent trades from the top trader (whale activity)\n- Sends all context to OpenAI to generate 3 platform-specific posts\n- Delivers drafts to Telegram for human review before posting\n\n**Requires:** Polymarket Tools node, Telegram Bot credential, OpenAI API key"
      },
      "id": "cg-0001-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "cg-0001-0000-0000-000000000002",
      "name": "Mon-Wed-Fri 9am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        340
      ]
    },
    {
      "parameters": {
        "resource": "data",
        "operation": "getLeaderboard",
        "timePeriod": "day",
        "limit": 5
      },
      "id": "cg-0001-0000-0000-000000000003",
      "name": "Get Leaderboard",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [
        460,
        240
      ]
    },
    {
      "parameters": {
        "resource": "market",
        "operation": "search",
        "query": "",
        "filters": {
          "active": true,
          "limit": 10
        }
      },
      "id": "cg-0001-0000-0000-000000000004",
      "name": "Search Trending Markets",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [
        460,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the top trader's wallet address from leaderboard\nconst leaders = $('Get Leaderboard').all();\nif (!leaders.length || !leaders[0].json.proxyWallet) {\n  return [{ json: { walletAddress: null, error: 'No leaderboard data' } }];\n}\n\nconst topTrader = leaders[0].json;\nreturn [{\n  json: {\n    walletAddress: topTrader.proxyWallet,\n    userName: topTrader.userName || 'Top Trader',\n    pnl: topTrader.pnl || 0,\n    volume: topTrader.volume || 0\n  }\n}];"
      },
      "id": "cg-0001-0000-0000-000000000005",
      "name": "Extract Top Trader Wallet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "resource": "data",
        "operation": "getWalletTrades",
        "walletAddress": "={{ $json.walletAddress }}",
        "limit": 5
      },
      "id": "cg-0001-0000-0000-000000000006",
      "name": "Get Whale Trades",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [
        980,
        240
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "cg-0001-0000-0000-000000000013",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1240,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// All items from both paths arrive via the Merge node\nconst items = $input.all();\n\n// Separate items by type: leaderboard entries have 'proxyWallet', markets have 'question', trades have 'transactionHash'\nconst leaders = items.filter(i => i.json.proxyWallet && i.json.pnl !== undefined);\nconst markets = items.filter(i => i.json.question && !i.json.transactionHash);\nconst whaleTrades = items.filter(i => i.json.transactionHash || (i.json.side && i.json.price && i.json.market));\n\n// Format leaderboard\nconst leaderboardText = leaders.slice(0, 5).map((l, i) => {\n  const d = l.json;\n  return `${i + 1}. ${d.userName || 'Anon'} -- PnL: $${Number(d.pnl || 0).toLocaleString()}, Volume: $${Number(d.volume || 0).toLocaleString()}`;\n}).join('\\n') || 'No leaderboard data';\n\n// Format trending markets\nconst marketsText = markets.slice(0, 10).map((m, i) => {\n  const d = m.json;\n  const tokens = d.tokens || [];\n  const yesPrice = tokens[0] ? `${(Number(tokens[0].price) * 100).toFixed(0)}%` : 'N/A';\n  return `${i + 1}. \"${d.question || 'Unknown'}\" -- Yes: ${yesPrice}, Volume: $${Number(d.volume || 0).toLocaleString()}`;\n}).join('\\n') || 'No market data';\n\n// Format whale trades\nconst whaleText = whaleTrades.slice(0, 10).map(t => {\n  const d = t.json;\n  return `- ${(d.side || 'UNKNOWN').toUpperCase()} ${d.market || 'Unknown'} -- ${d.size || '?'} shares at $${Number(d.price || 0).toFixed(2)}`;\n}).join('\\n') || 'No whale trade data';\n\nconst contextBlock = `TODAY'S POLYMARKET DATA\\n\\n` +\n  `TOP TRADERS (24h):\\n${leaderboardText}\\n\\n` +\n  `TRENDING MARKETS:\\n${marketsText}\\n\\n` +\n  `WHALE TRADES (top trader's recent activity):\\n${whaleText}`;\n\nreturn [{ json: { contextBlock } }];"
      },
      "id": "cg-0001-0000-0000-000000000007",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'Write 3 Reddit-style posts about Polymarket prediction market data. Each post targets a different subreddit: r/polymarket, r/algotrading, r/n8n.\\n\\nEach post needs a title and body. Format as:\\n\\nPOST 1 (r/polymarket):\\nTitle: ...\\nBody: ...\\n\\nPOST 2 (r/algotrading):\\nTitle: ...\\nBody: ...\\n\\nPOST 3 (r/n8n):\\nTitle: ...\\nBody: ...\\n\\nVOICE RULES (non-negotiable):\\n1. Open with tension or a question, never an announcement. Frame from the reader pain or desired outcome.\\n2. Assert, do not hedge. No \\\"should\\\", \\\"could\\\", \\\"might\\\", \\\"I think\\\". Commit.\\n3. Three sentences max per paragraph.\\n4. No emojis. No exclamation marks. No \\\"Hey community\\\" warmups.\\n5. No AI voice patterns: no symmetrical pairs, no universal declarations, no summary-bow closers, no directive imperatives.\\n6. No corporate filler: \\\"pressure-test\\\", \\\"grounded in reality\\\", \\\"journey\\\", \\\"Furthermore\\\", \\\"Moreover\\\".\\n7. No em dashes. Use periods, colons, or commas.\\n8. End on action or information, not sentiment.\\n9. The practitioner test: would a CTO say this at a conference bar? If it reads like a consulting deck, rewrite it.\\n10. Reference specific numbers from the market data. \\\"Top trader made $546K this week\\\" beats \\\"whales are active\\\".\\n11. The tool (n8n-nodes-polymarket-tools) is mentioned naturally, not as the lead. The data or insight leads.\\n12. r/polymarket: trader focused, what the data means for positions.\\n13. r/algotrading: technical, architecture, quantitative edge.\\n14. r/n8n: workflow automation angle, what you can build with this.' }, { role: 'user', content: $json.contextBlock }], temperature: 0.8, max_tokens: 1500 }) }}",
        "options": {},
        "nodeCredentialType": "openAiApi"
      },
      "id": "cg-0001-0000-0000-000000000008",
      "name": "Generate Posts (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "uJfF3d8rzOWb7qlf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the generated content from OpenAI response\nconst response = $input.first().json;\nlet drafts = '';\ntry {\n  drafts = response.choices[0].message.content;\n} catch (e) {\n  drafts = 'ERROR: Could not parse OpenAI response.';\n}\nreturn [{ json: { drafts } }];"
      },
      "id": "cg-0001-0000-0000-000000000009",
      "name": "Extract Drafts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You are an editorial voice reviewer. Review the following social media drafts against these 12 rules. For each draft, either approve it or rewrite it.\\n\\nTHE 12 RULES:\\n1. Opening Hook: Opens with a question or tension, not an announcement or story about writing it.\\n2. Conviction Over Hedging: No \\\"should\\\", \\\"could\\\", \\\"might\\\", \\\"may\\\", \\\"I think\\\", \\\"I believe\\\". Convert to assertions.\\n3. No Standalone Definitions: No paragraph that exists solely to define a term.\\n4. Paragraph Length: Max 3 sentences per paragraph.\\n5. Thesis Over Observation: No \\\"Here is what we are seeing\\\", \\\"We have noticed\\\". Convert to direct assertions.\\n6. Bold Usage: Bold only for named concepts, not emphasis.\\n7. Closing Action: End on action or information, not sentiment or \\\"happy to answer questions\\\".\\n8. No em dashes. Use periods, colons, commas.\\n9. No AI Voice Patterns: No symmetrical assertion-counterpoint pairs (\\\"X looks clean. Y is not.\\\"). No universal declarations without grounding. No summary-bow closers (\\\"That is the difference\\\"). No directive imperatives (\\\"Track it. Escalate.\\\").\\n10. No Corporate Filler: \\\"pressure-test\\\", \\\"grounded in reality\\\", \\\"journey\\\", \\\"Furthermore\\\", \\\"Moreover\\\".\\n11. Practitioner Test: Would a CTO say this at a conference bar? If it reads like a consulting deck, rewrite.\\n12. No emojis. No exclamation marks.\\n\\nOUTPUT FORMAT:\\nFor each draft, output either:\\nAPPROVED: [original text]\\nor\\nREWRITTEN: [improved text]\\nREASON: [what you fixed]\\n\\nThen output a final VERDICT: how many passed, how many rewritten.' }, { role: 'user', content: 'Review these drafts:\\n\\n' + $json.drafts }], temperature: 0.3, max_tokens: 1500 }) }}",
        "options": {},
        "nodeCredentialType": "openAiApi"
      },
      "id": "cg-0001-0000-0000-000000000011",
      "name": "Voice Review (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "uJfF3d8rzOWb7qlf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format voice-reviewed posts for Telegram\nconst reviewResponse = $input.first().json;\nlet review = '';\ntry {\n  review = reviewResponse.choices[0].message.content;\n} catch (e) {\n  // Fall back to original drafts if review failed\n  review = $('Extract Drafts').first().json.drafts || 'ERROR: No content generated.';\n}\n\nconst today = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst message = `REVIEW & POST\\n${today}\\n${'='.repeat(40)}\\n\\n${review}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "cg-0001-0000-0000-000000000012",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        340
      ]
    },
    {
      "parameters": {
        "chatId": "8505904361",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "cg-0001-0000-0000-000000000010",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        340
      ],
      "credentials": {
        "telegramApi": {
          "id": "rvkUdzYa8rUc1jyg",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Mon-Wed-Fri 9am ET": {
      "main": [
        [
          {
            "node": "Get Leaderboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Trending Markets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leaderboard": {
      "main": [
        [
          {
            "node": "Extract Top Trader Wallet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Top Trader Wallet": {
      "main": [
        [
          {
            "node": "Get Whale Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Whale Trades": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Trending Markets": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Generate Posts (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Posts (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Drafts": {
      "main": [
        [
          {
            "node": "Voice Review (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Review (OpenAI)": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "polymarket"
    },
    {
      "name": "marketing"
    },
    {
      "name": "content"
    },
    {
      "name": "telegram"
    }
  ],
  "meta": {
    "instanceId": ""
  }
}