packages/n8n-nodes/workflows/marketing/mention-monitor.json
{
  "name": "Polymarket + n8n Mention Monitor",
  "nodes": [
    {
      "parameters": {
        "content": "## Polymarket + n8n Mention Monitor\n\nMonitors Reddit for mentions of our product or relevant discussions about Polymarket automation, then drafts helpful replies.\n\n**Setup:**\n1. Configure the Telegram node with your bot token credential\n2. Set your OpenAI API key in the HTTP Header Auth credential (Authorization: Bearer YOUR_KEY)\n3. Adjust search queries in the HTTP Request nodes if needed\n\n**How it works:**\n- Runs every 2 hours, searches Reddit for polymarket+n8n, polymarket+automation, and our package name\n- Deduplicates results and filters out previously seen posts (stored in workflow static data)\n- For each new mention, uses OpenAI to draft a helpful reply\n- Sends the mention + draft reply to Telegram for human review\n\n**Note:** Reddit search API is public (no auth needed) but rate-limited. The 2-hour interval keeps us well within limits."
      },
      "id": "mm-0001-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "mm-0001-0000-0000-000000000002",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "polymarket n8n" },
            { "name": "sort", "value": "new" },
            { "name": "limit", "value": "10" },
            { "name": "t", "value": "day" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "n8n-mention-monitor/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "mm-0001-0000-0000-000000000003",
      "name": "Reddit: polymarket+n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "polymarket automation" },
            { "name": "sort", "value": "new" },
            { "name": "limit", "value": "10" },
            { "name": "t", "value": "day" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "n8n-mention-monitor/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "mm-0001-0000-0000-000000000004",
      "name": "Reddit: polymarket+automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "n8n-nodes-polymarket" },
            { "name": "sort", "value": "new" },
            { "name": "limit", "value": "5" },
            { "name": "t", "value": "day" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "n8n-mention-monitor/1.0" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "mm-0001-0000-0000-000000000005",
      "name": "Reddit: n8n-nodes-polymarket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 560]
    },
    {
      "parameters": {
        "jsCode": "// Merge all Reddit results, deduplicate, and filter out already-seen posts\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenPostIds) {\n  staticData.seenPostIds = [];\n}\n\n// Gather posts from all three search results\nconst allInputs = $input.all();\nconst allPosts = [];\n\nfor (const item of allInputs) {\n  const data = item.json;\n  // Reddit search.json returns { data: { children: [...] } }\n  const children = data?.data?.children || [];\n  for (const child of children) {\n    const post = child.data;\n    if (post && post.id) {\n      allPosts.push({\n        id: post.id,\n        title: post.title || '',\n        subreddit: post.subreddit_name_prefixed || `r/${post.subreddit || 'unknown'}`,\n        url: `https://reddit.com${post.permalink}`,\n        score: post.score || 0,\n        selftext: (post.selftext || '').substring(0, 500),\n        created: post.created_utc || 0,\n        author: post.author || '[deleted]'\n      });\n    }\n  }\n}\n\n// Deduplicate by post ID\nconst seen = new Set();\nconst unique = [];\nfor (const post of allPosts) {\n  if (!seen.has(post.id)) {\n    seen.add(post.id);\n    unique.push(post);\n  }\n}\n\n// Filter out previously seen posts\nconst seenSet = new Set(staticData.seenPostIds);\nconst newPosts = unique.filter(p => !seenSet.has(p.id));\n\n// Update static data with new post IDs (keep last 500 to avoid unbounded growth)\nconst newIds = newPosts.map(p => p.id);\nstaticData.seenPostIds = [...staticData.seenPostIds, ...newIds].slice(-500);\n\nif (newPosts.length === 0) {\n  return [{ json: { _noNewMentions: true, count: 0 } }];\n}\n\nreturn newPosts.map(p => ({ json: p }));"
      },
      "id": "mm-0001-0000-0000-000000000006",
      "name": "Merge & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mention-filter-001",
              "leftValue": "={{ $json._noNewMentions }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mm-0001-0000-0000-000000000007",
      "name": "Has New Mentions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1000, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'Draft a helpful Reddit reply to this post about Polymarket automation. Be genuinely helpful first. If our n8n node (n8n-nodes-polymarket-tools) is relevant, mention it naturally at the end. Don\\'t be salesy. Voice: experienced developer sharing a tool they use.' }, { role: 'user', content: 'Post title: ' + $json.title + '\\n\\nSubreddit: ' + $json.subreddit + '\\n\\nPost body: ' + ($json.selftext || '(no body)') }], temperature: 0.7, max_tokens: 500 }) }}",
        "options": {}
      },
      "id": "mm-0001-0000-0000-000000000008",
      "name": "Draft Reply (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the mention + draft reply for Telegram\nconst mention = $('Has New Mentions?').first().json;\nconst aiResponse = $input.first().json;\n\nlet draftReply = '';\ntry {\n  draftReply = aiResponse.choices[0].message.content;\n} catch (e) {\n  draftReply = 'ERROR: Could not generate draft reply. Check the OpenAI node.';\n}\n\nconst message = `NEW MENTION\\n` +\n  `${mention.subreddit} | ${mention.score} points\\n` +\n  `${mention.title}\\n` +\n  `${mention.url}\\n\\n` +\n  `DRAFT REPLY:\\n${draftReply}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "mm-0001-0000-0000-000000000009",
      "name": "Format Mention + Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 320]
    },
    {
      "parameters": {
        "chatId": "8505904361",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "mm-0001-0000-0000-000000000010",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 320],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Reddit: polymarket+n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit: polymarket+automation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit: n8n-nodes-polymarket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: polymarket+n8n": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: polymarket+automation": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: n8n-nodes-polymarket": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Deduplicate": {
      "main": [
        [
          {
            "node": "Has New Mentions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Mentions?": {
      "main": [
        [
          {
            "node": "Draft Reply (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Draft Reply (OpenAI)": {
      "main": [
        [
          {
            "node": "Format Mention + Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Mention + Reply": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "polymarket" },
    { "name": "marketing" },
    { "name": "monitoring" },
    { "name": "reddit" },
    { "name": "telegram" }
  ],
  "meta": {
    "instanceId": ""
  }
}