packages/n8n-nodes/templates/ai-sentiment-trader.json
{
  "name": "AI Sentiment-Triggered Polymarket Trader",
  "nodes": [
    {
      "parameters": {
        "content": "## AI Sentiment-Triggered Polymarket Trader\n\nFetches recent posts from an RSS/Twitter feed, uses AI to analyze sentiment, matches to Polymarket markets, and generates trading signals.\n\n**Setup:**\n1. Set your RSS feed URL in the HTTP Request node (default: Nitter RSS for a Twitter search -- replace with your preferred source)\n2. Configure an OpenAI API credential for the AI analysis node\n3. Set up Telegram credentials for signal alerts\n4. Adjust confidence threshold in the IF node (default: 0.7)\n\n**How it works:**\n- Polls RSS/Twitter feed every 15 minutes for new posts\n- Extracts and cleans text content from the feed\n- Searches Polymarket for matching active markets based on extracted keywords\n- Gets live pricing (midpoint) for the top matching market\n- Sends combined news + market data to OpenAI for BUY/SELL analysis\n- Filters by confidence > 0.7 before generating signals\n- Sends high-confidence signals to Telegram\n\n**Risk Warning:** This template uses `validateOnly=true` by default -- it will NOT place real orders. Remove `validateOnly` only after thorough testing with real funds you can afford to lose. AI signals are not financial advice."
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000002",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 340]
    },
    {
      "parameters": {
        "url": "https://nitter.net/search/rss?f=tweets&q=polymarket+OR+prediction+market&since=&until=&near=",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000003",
      "name": "Fetch Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [490, 340]
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from RSS/HTML feed, clean it up, pull keywords\nconst raw = $input.first().json.data || $input.first().json.body || '';\n\n// Strip HTML tags\nconst stripped = raw.replace(/<[^>]*>/g, ' ').replace(/&[a-z]+;/g, ' ');\n\n// Split into individual items (RSS items separated by title patterns)\nconst items = stripped.split(/(?=\\b[A-Z][a-z]+\\s)/)\n  .filter(s => s.trim().length > 20)\n  .slice(0, 10);\n\n// Combine the most recent posts into one text block\nconst combinedText = items.join(' ').substring(0, 2000);\n\n// Extract keywords for Polymarket search\nconst stopWords = new Set(['the', 'a', 'an', 'is', 'are', 'was', 'were', 'will', 'be', 'to', 'of', 'in', 'for', 'on', 'at', 'by', 'and', 'or', 'but', 'not', 'it', 'its', 'has', 'have', 'had', 'that', 'this', 'with', 'from', 'as', 'says', 'said', 'just', 'like', 'than', 'about', 'would', 'could', 'should']);\nconst words = combinedText\n  .replace(/[^a-zA-Z0-9\\s]/g, '')\n  .split(/\\s+/)\n  .filter(w => w.length > 3 && !stopWords.has(w.toLowerCase()));\n\n// Count word frequency and pick top keywords\nconst freq = {};\nfor (const w of words) {\n  const lower = w.toLowerCase();\n  freq[lower] = (freq[lower] || 0) + 1;\n}\nconst topKeywords = Object.entries(freq)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(e => e[0])\n  .join(' ');\n\nreturn [{\n  json: {\n    feedText: combinedText,\n    searchQuery: topKeywords,\n    postCount: items.length\n  }\n}];"
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000004",
      "name": "Extract & Clean Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "resource": "market",
        "operation": "search",
        "query": "={{ $json.searchQuery }}",
        "filters": {
          "active": true,
          "limit": 5
        }
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000005",
      "name": "Search Polymarket",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [990, 340]
    },
    {
      "parameters": {
        "jsCode": "// Pick the top matching market and extract token ID for pricing\nconst markets = $input.all();\nif (markets.length === 0) {\n  return [{ json: { _noMatch: true } }];\n}\n\nconst top = markets[0].json;\n\nlet tokens = top.tokens || [];\nif (typeof tokens === 'string') {\n  try { tokens = JSON.parse(tokens); } catch(e) { tokens = []; }\n}\n\nlet clobTokenIds = top.clobTokenIds || [];\nif (typeof clobTokenIds === 'string') {\n  try { clobTokenIds = JSON.parse(clobTokenIds); } catch(e) { clobTokenIds = []; }\n}\n\nlet outcomes = top.outcomes || [];\nif (typeof outcomes === 'string') {\n  try { outcomes = JSON.parse(outcomes); } catch(e) { outcomes = []; }\n}\n\nlet outcomePrices = top.outcomePrices || [];\nif (typeof outcomePrices === 'string') {\n  try { outcomePrices = JSON.parse(outcomePrices); } catch(e) { outcomePrices = []; }\n}\n\nconst firstTokenId = (tokens[0] && tokens[0].tokenId) || clobTokenIds[0] || '';\n\nreturn [{\n  json: {\n    question: top.question || top.title || 'Unknown',\n    conditionId: top.conditionId || '',\n    slug: top.slug || '',\n    volume: top.volume || 0,\n    tokenId: firstTokenId,\n    outcomes,\n    outcomePrices,\n    _noMatch: false\n  }\n}];"
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000006",
      "name": "Pick Top Market",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 340]
    },
    {
      "parameters": {
        "resource": "price",
        "operation": "get",
        "tokenId": "={{ $json.tokenId }}",
        "includeData": ["midpoint"]
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000007",
      "name": "Get Price",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [1490, 340]
    },
    {
      "parameters": {
        "jsCode": "// Combine news text + market data into an AI analysis prompt\nconst price = $input.first().json;\nconst feedData = $('Extract & Clean Text').first().json;\nconst marketData = $('Pick Top Market').first().json;\n\nconst prompt = `Given this recent social media sentiment:\n---\n${feedData.feedText.substring(0, 1500)}\n---\n\nCurrent Polymarket prediction market:\nQuestion: ${marketData.question}\nCurrent price (YES): $${Number(price.price || price.midpoint || 0).toFixed(3)}\nMidpoint: $${Number(price.midpoint || 0).toFixed(3)}\nVolume: $${Number(marketData.volume || 0).toLocaleString()}\n\nBased on this sentiment data, should we BUY or SELL the YES token? Respond with JSON only:\n{\"direction\": \"BUY\" or \"SELL\", \"confidence\": 0.0 to 1.0, \"reasoning\": \"1-2 sentence explanation\"}`;\n\nreturn [{\n  json: {\n    prompt,\n    feedText: feedData.feedText.substring(0, 200),\n    marketQuestion: marketData.question,\n    currentPrice: price.price || price.midpoint || 0,\n    tokenId: marketData.tokenId,\n    slug: marketData.slug\n  }\n}];"
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000008",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 340]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.3, max_tokens: 300 }) }}",
        "options": {}
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000009",
      "name": "OpenAI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1990, 340],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and filter by confidence threshold\nconst aiRaw = $input.first().json;\nconst promptData = $('Build AI Prompt').first().json;\n\nlet text = '';\ntry {\n  text = aiRaw.choices[0].message.content || '';\n} catch(e) {\n  text = JSON.stringify(aiRaw);\n}\n\nlet analysis = { direction: 'HOLD', confidence: 0, reasoning: 'Could not parse AI response' };\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  }\n} catch(e) {\n  // Keep defaults\n}\n\nreturn [{\n  json: {\n    direction: analysis.direction || 'HOLD',\n    confidence: Number(analysis.confidence) || 0,\n    reasoning: analysis.reasoning || '',\n    marketQuestion: promptData.marketQuestion,\n    currentPrice: promptData.currentPrice,\n    tokenId: promptData.tokenId,\n    slug: promptData.slug,\n    feedPreview: promptData.feedText\n  }\n}];"
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000010",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confidence-check-001",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000011",
      "name": "Confidence > 0.7?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2490, 340]
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "placeOrder",
        "tokenId": "={{ $json.tokenId }}",
        "side": "={{ $json.direction === 'BUY' ? 'BUY' : 'SELL' }}",
        "price": "={{ $json.currentPrice }}",
        "size": 10,
        "validateOnly": true
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000012",
      "name": "Place Order (Validate Only)",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [2740, 280]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=*AI Sentiment Signal*\n\nMarket: {{ $json.marketQuestion }}\nPrice: ${{ $json.currentPrice }}\nDirection: {{ $json.direction }}\nConfidence: {{ $json.confidence }}\n\n_{{ $json.reasoning }}_\n\nSentiment preview: {{ $json.feedPreview }}\n\nhttps://polymarket.com/event/{{ $json.slug }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f6a7b8c9-6666-4f00-a000-000000000013",
      "name": "Send Signal to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2990, 280],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Feed": {
      "main": [
        [
          {
            "node": "Extract & Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Clean Text": {
      "main": [
        [
          {
            "node": "Search Polymarket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Polymarket": {
      "main": [
        [
          {
            "node": "Pick Top Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Top Market": {
      "main": [
        [
          {
            "node": "Get Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Price": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Confidence > 0.7?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence > 0.7?": {
      "main": [
        [
          {
            "node": "Place Order (Validate Only)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Place Order (Validate Only)": {
      "main": [
        [
          {
            "node": "Send Signal to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "polymarket" },
    { "name": "prediction-markets" },
    { "name": "ai" },
    { "name": "sentiment" },
    { "name": "trading" },
    { "name": "telegram" }
  ],
  "meta": {
    "instanceId": ""
  }
}
