packages/n8n-nodes/templates/mispricing-scanner.json
{
  "name": "Polymarket Mispricing Scanner -- Correlated Market Alert",
  "nodes": [
    {
      "parameters": {
        "content": "## Mispricing Scanner -- Correlated Market Alerts\n\nScans Polymarket for logically inconsistent pricing across related markets within the same event.\n\n**Setup:**\n1. Configure Telegram or Slack credentials for alerts\n2. Adjust the search query to focus on a domain (e.g. \"election\", \"crypto\", or leave broad)\n3. Tune the mispricing threshold in the Code node (default: 5%)\n\n**How it works:**\n- Searches for active markets and groups them by event (groupItemTitle)\n- Within each event, checks if YES outcome prices for mutually exclusive markets sum to roughly 1.0\n- Flags events where the sum deviates by more than 5% (indicating a potential arbitrage)\n- Sends alerts with the mispriced markets, their prices, and the implied inefficiency"
      },
      "id": "c3d4e5f6-3333-4c00-d000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "c3d4e5f6-3333-4c00-d000-000000000002",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 340]
    },
    {
      "parameters": {
        "resource": "market",
        "operation": "search",
        "query": "election",
        "filters": {
          "active": true,
          "limit": 50
        }
      },
      "id": "c3d4e5f6-3333-4c00-d000-000000000003",
      "name": "Search Active Markets",
      "type": "n8n-nodes-polymarket-tools.polymarket",
      "typeVersion": 1,
      "position": [490, 340]
    },
    {
      "parameters": {
        "jsCode": "// Group markets by event, find correlated pairs where exclusive outcome prices don't sum to 1.0\nconst markets = $input.all();\nconst THRESHOLD = 0.05; // 5% mispricing threshold\n\n// Group by event (groupItemTitle or eventSlug)\nconst eventGroups = {};\nfor (const item of markets) {\n  const m = item.json;\n  const eventKey = m.groupItemTitle || m.eventSlug || m.conditionId;\n  if (!eventKey) continue;\n\n  if (!eventGroups[eventKey]) {\n    eventGroups[eventKey] = [];\n  }\n\n  // Parse outcome prices (Gamma returns JSON-encoded strings)\n  let outcomePrices = m.outcomePrices || [];\n  if (typeof outcomePrices === 'string') {\n    try { outcomePrices = JSON.parse(outcomePrices); } catch(e) { outcomePrices = []; }\n  }\n\n  let outcomes = m.outcomes || [];\n  if (typeof outcomes === 'string') {\n    try { outcomes = JSON.parse(outcomes); } catch(e) { outcomes = []; }\n  }\n\n  const yesPrice = Number(outcomePrices[0] || 0);\n  const noPrice = Number(outcomePrices[1] || 0);\n\n  eventGroups[eventKey].push({\n    question: m.question || 'Unknown',\n    conditionId: m.conditionId || '',\n    yesPrice,\n    noPrice,\n    volume: Number(m.volume || 0),\n    slug: m.slug || ''\n  });\n}\n\n// Check multi-outcome events for mispricing\nconst mispricings = [];\n\nfor (const [eventName, eventMarkets] of Object.entries(eventGroups)) {\n  if (eventMarkets.length < 2) continue;\n\n  // Sum all YES prices across outcomes in this event\n  const yesSum = eventMarkets.reduce((sum, m) => sum + m.yesPrice, 0);\n  const deviation = Math.abs(yesSum - 1.0);\n\n  if (deviation > THRESHOLD) {\n    const marketDetails = eventMarkets\n      .map(m => `  ${m.question}: YES=$${m.yesPrice.toFixed(3)}`)\n      .join('\\n');\n\n    mispricings.push({\n      json: {\n        event: eventName,\n        marketCount: eventMarkets.length,\n        yesSum: yesSum.toFixed(3),\n        deviation: (deviation * 100).toFixed(1),\n        direction: yesSum > 1 ? 'overpriced' : 'underpriced',\n        markets: eventMarkets,\n        message: `Mispricing detected in \"${eventName}\"\\n${eventMarkets.length} outcomes, YES prices sum to $${yesSum.toFixed(3)} (${(deviation * 100).toFixed(1)}% off)\\n${yesSum > 1 ? 'Overpriced' : 'Underpriced'} -- potential arb opportunity\\n\\n${marketDetails}`\n      }\n    });\n  }\n}\n\nif (mispricings.length === 0) {\n  return [{ json: { _noMispricings: true } }];\n}\n\nreturn mispricings;"
      },
      "id": "c3d4e5f6-3333-4c00-d000-000000000004",
      "name": "Detect Mispricings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mispricing-check-001",
              "leftValue": "={{ $json._noMispricings }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-3333-4c00-d000-000000000005",
      "name": "Mispricings Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [990, 340]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c3d4e5f6-3333-4c00-d000-000000000006",
      "name": "Send Mispricing Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1240, 280],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Search Active Markets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Active Markets": {
      "main": [
        [
          {
            "node": "Detect Mispricings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Mispricings": {
      "main": [
        [
          {
            "node": "Mispricings Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mispricings Found?": {
      "main": [
        [
          {
            "node": "Send Mispricing Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "polymarket" },
    { "name": "prediction-markets" },
    { "name": "arbitrage" },
    { "name": "telegram" }
  ],
  "meta": {
    "instanceId": ""
  }
}
