packages/n8n-nodes/templates/price-alert-telegram.json
{
  "name": "Polymarket Price Alert to Telegram",
  "nodes": [
    {
      "parameters": {
        "triggerWhen": "priceChange",
        "tokenId": "",
        "changeAmount": 0.05
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Polymarket Trigger",
      "type": "n8n-nodes-polymarket-tools.polymarketTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst direction = data.direction === 'up' ? '📈' : '📉';\nconst price = Number(data.price).toFixed(2);\nconst change = Number(data.absChange).toFixed(2);\nconst pctChange = data.percentChange;\n\nconst message = `${direction} *Price Alert*\\n\\nToken: \\`${data.tokenId.substring(0, 12)}...\\`\\nPrice: $${price}\\nChange: ${data.direction === 'up' ? '+' : '-'}$${change} (${pctChange}%)\\nPrevious: $${Number(data.previousPrice).toFixed(2)}\\n\\n_${new Date(data.timestamp).toLocaleString()}_`;\n\nreturn [{ json: { message } }];"
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [490, 300]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [740, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Polymarket Trigger": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "polymarket" },
    { "name": "prediction-markets" },
    { "name": "telegram" },
    { "name": "alerts" }
  ],
  "meta": {
    "instanceId": ""
  }
}
